<table class="table">
	<h2>Book Comments</h2>

		<% book.book_comments.each do |book_comment| %>
			<tr>
				<td><%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg" %><br>
					<%= book_comment.user.name %></td>
				<td><%= book_comment.comment %></td>

				<% if book_comment.user == current_user %>
				<td><%= link_to "Destroy", book_book_comment_path(book_comment), method: :delete, class: "btn-sm btn-danger" %></td>
				<% end %>
			</tr>
		<% end %>
</table>